## Import Libs

In [368]:
# Reset all variables so that we can 'run all cells' and not get unused variables hanging around
%reset -f

In [369]:
import pandas as pd
import numpy as np
import pytz

### Import Data

In [370]:
excel_file = 'data/Welder_LP_Tanzania_20180910-20180920.xlsx'
df_2min = pd.read_excel(excel_file, sheet_name='Welder_Tanzania LP')
df_2min = df_2min.rename(columns={'Timestamp (GMT)': 'time_gmt', 'Value': 'welder_count'})

# Convert date string to datetime so we can work with timezones
df_2min['time_gmt'] = pd.to_datetime(df_2min['time_gmt'])
df_2min.head()

             time_gmt  welder_count
0 2018-09-08 01:42:30             0
1 2018-09-08 01:44:30             0
2 2018-09-08 01:46:30             0
3 2018-09-08 01:48:30             0
4 2018-09-08 01:50:30             0

In [371]:
df_2min.shape

(9319, 2)

## Convert Timezones

In [372]:
# To see all timezones available (but select only the first 55 to see Africa): 
# pytz.all_timezones[0:55]

In [373]:
# There was no Tanzania listed. Nairobi is +3 like Tanzania
# There should not be a problem with daylight savings time - neither observe it
tanzania_tz = pytz.timezone('Africa/Nairobi')

In [374]:
df_2min['time_local'] = df_2min['time_gmt'].dt.tz_localize('utc').dt.tz_convert(tanzania_tz)
df_2min.head()

             time_gmt  welder_count                time_local
0 2018-09-08 01:42:30             0 2018-09-08 04:42:30+03:00
1 2018-09-08 01:44:30             0 2018-09-08 04:44:30+03:00
2 2018-09-08 01:46:30             0 2018-09-08 04:46:30+03:00
3 2018-09-08 01:48:30             0 2018-09-08 04:48:30+03:00
4 2018-09-08 01:50:30             0 2018-09-08 04:50:30+03:00

## Filter out on/off welder noise

In [375]:
# If a welder_on_count value is less than 100, it's probably not actual usage. 
# Set anything less than a threshold to zero
noise_threshold = 100

In [376]:
df_2min['welder_is_on'] = np.where(df_2min['welder_count'] > noise_threshold, 1, 0 )
df_2min[60:70]

              time_gmt  welder_count                time_local  welder_is_on
60 2018-09-08 03:42:30            15 2018-09-08 06:42:30+03:00             0
61 2018-09-08 03:44:30             3 2018-09-08 06:44:30+03:00             0
62 2018-09-08 03:46:30             2 2018-09-08 06:46:30+03:00             0
63 2018-09-08 03:48:30            18 2018-09-08 06:48:30+03:00             0
64 2018-09-08 03:50:30            22 2018-09-08 06:50:30+03:00             0
65 2018-09-08 03:52:30             0 2018-09-08 06:52:30+03:00             0
66 2018-09-08 03:54:30           417 2018-09-08 06:54:30+03:00             1
67 2018-09-08 03:56:30             0 2018-09-08 06:56:30+03:00             0
68 2018-09-08 03:58:30             0 2018-09-08 06:58:30+03:00             0
69 2018-09-08 04:00:14             0 2018-09-08 07:00:14+03:00             0

## Utilization per interval

In [379]:
# Assume for any 2 minute logged interval that the actual utilization rate is 25%.
# In other words, in 2 minutes the welder is actually used for 30s.
# We will make this adjustable, along with the voltate and current in the app.
# But it doesn't hurt to hard-code it here - we can ignore it later. 
# Let's make the pattern "magnitude agnostic" so we can preserve the pattern, but apply 
# different voltage and current values to it

# For the welder, the energy load profile will be especially different from the peak power 
# consumed… so let's just make sure we remember that the kWh consumed in the 1-hour timestep 
# is in no way indicative of the peak power drawn during that hour. 
utilization_while_logged = 0.25

In [380]:
df_2min['welder_utilization'] = df_2min['welder_is_on'] * utilization_while_logged
df_2min[60:70]

,time_gmt,welder_count,time_local,welder_is_on,welder_utilization
60,2018-09-08 03:42:30,15,2018-09-08 06:42:30+03:00,0,0.00
61,2018-09-08 03:44:30,3,2018-09-08 06:44:30+03:00,0,0.00
62,2018-09-08 03:46:30,2,2018-09-08 06:46:30+03:00,0,0.00
63,2018-09-08 03:48:30,18,2018-09-08 06:48:30+03:00,0,0.00
64,2018-09-08 03:50:30,22,2018-09-08 06:50:30+03:00,0,0.00
65,2018-09-08 03:52:30,0,2018-09-08 06:52:30+03:00,0,0.00
66,2018-09-08 03:54:30,417,2018-09-08 06:54:30+03:00,1,0.25
67,2018-09-08 03:56:30,0,2018-09-08 06:56:30+03:00,0,0.00
68,2018-09-08 03:58:30,0,2018-09-08 06:58:30+03:00,0,0.00
69,2018-09-08 04:00:14,0,2018-09-08 07:00:14+03:00,0,0.00

## Resample 2-min intervals to hourly intevals
Here is a good example of how to resample time-series data: 
https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea

In [382]:
# Convert the dataframe to have a datetime index (instead of a default integer) in order 
# to resample to hourly intervals
df_2min_index = df_2min.set_index('time_local')
df_2min_index[60:70]

,time_gmt,welder_count,welder_is_on,welder_utilization
time_local,,,,
2018-09-08 06:42:30+03:00,2018-09-08 03:42:30,15,0,0.00
2018-09-08 06:44:30+03:00,2018-09-08 03:44:30,3,0,0.00
2018-09-08 06:46:30+03:00,2018-09-08 03:46:30,2,0,0.00
2018-09-08 06:48:30+03:00,2018-09-08 03:48:30,18,0,0.00
2018-09-08 06:50:30+03:00,2018-09-08 03:50:30,22,0,0.00
2018-09-08 06:52:30+03:00,2018-09-08 03:52:30,0,0,0.00
2018-09-08 06:54:30+03:00,2018-09-08 03:54:30,417,1,0.25
2018-09-08 06:56:30+03:00,2018-09-08 03:56:30,0,0,0.00
2018-09-08 06:58:30+03:00,2018-09-08 03:58:30,0,0,0.00
2018-09-08 07:00:14+03:00,2018-09-08 04:00:14,0,0,0.00

In [385]:
# Examples of how to query data based on the new datetime index
# df_2min_index[df_2min_index.index.hour == 2]
# df_2min_index['2018-09-08']
# df_2min_index['2018-09-08':'2018-09-10']

# Every interval within that hour
df_2min_index['2018-09-08 06:00': '2018-09-08 06:58']

,time_gmt,welder_count,welder_is_on,welder_utilization
time_local,,,,
2018-09-08 06:00:30+03:00,2018-09-08 03:00:30,0,0,0.00
2018-09-08 06:02:30+03:00,2018-09-08 03:02:30,0,0,0.00
2018-09-08 06:04:30+03:00,2018-09-08 03:04:30,0,0,0.00
2018-09-08 06:06:30+03:00,2018-09-08 03:06:30,0,0,0.00
2018-09-08 06:08:30+03:00,2018-09-08 03:08:30,0,0,0.00
2018-09-08 06:10:30+03:00,2018-09-08 03:10:30,0,0,0.00
2018-09-08 06:12:30+03:00,2018-09-08 03:12:30,0,0,0.00
2018-09-08 06:14:30+03:00,2018-09-08 03:14:30,0,0,0.00
2018-09-08 06:16:30+03:00,2018-09-08 03:16:30,0,0,0.00
2018-09-08 06:18:30+03:00,2018-09-08 03:18:30,0,0,0.00
2018-09-08 06:20:30+03:00,2018-09-08 03:20:30,0,0,0.00
2018-09-08 06:22:30+03:00,2018-09-08 03:22:30,0,0,0.00
2018-09-08 06:24:30+03:00,2018-09-08 03:24:30,0,0,0.00
2018-09-08 06:26:30+03:00,2018-09-08 03:26:30,0,0,0.00
2018-09-08 06:28:30+03:00,2018-09-08 03:28:30,0,0,0.00
2018-09-08 06:30:30+03:00,2018-09-08 03:30:30,0,0,0.00
2018-09-08 06:32:30+03:00,2018-09-08 03:32:30,0,0,0.00
2018-09-08 06:34:30+03:00,2018-09-08 03:34:30,0,0,0.00
2018-09-08 06:36:30+03:00,2018-09-08 03:36:30,18,0,0.00
2018-09-08 06:38:30+03:00,2018-09-08 03:38:30,0,0,0.00
2018-09-08 06:40:30+03:00,2018-09-08 03:40:30,4,0,0.00
2018-09-08 06:42:30+03:00,2018-09-08 03:42:30,15,0,0.00
2018-09-08 06:44:30+03:00,2018-09-08 03:44:30,3,0,0.00
2018-09-08 06:46:30+03:00,2018-09-08 03:46:30,2,0,0.00
2018-09-08 06:48:30+03:00,2018-09-08 03:48:30,18,0,0.00
2018-09-08 06:50:30+03:00,2018-09-08 03:50:30,22,0,0.00
2018-09-08 06:52:30+03:00,2018-09-08 03:52:30,0,0,0.00
2018-09-08 06:54:30+03:00,2018-09-08 03:54:30,417,1,0.25
2018-09-08 06:56:30+03:00,2018-09-08 03:56:30,0,0,0.00
2018-09-08 06:58:30+03:00,2018-09-08 03:58:30,0,0,0.00

In [389]:
# Sum every interval within an hour ('H')
df_hour = df_2min_index.resample('H').sum()
df_hour

                           welder_count  welder_is_on  welder_utilization
time_local
2018-09-08 04:00:00+03:00             0             0                0.00
2018-09-08 05:00:00+03:00             0             0                0.00
2018-09-08 06:00:00+03:00           499             1                0.25
2018-09-08 07:00:00+03:00             0             0                0.00
2018-09-08 08:00:00+03:00             0             0                0.00
2018-09-08 09:00:00+03:00         18079             8                2.00
2018-09-08 10:00:00+03:00         46086            24                6.00
2018-09-08 11:00:00+03:00         42407            26                6.50
2018-09-08 12:00:00+03:00          4245             2                0.50
2018-09-08 13:00:00+03:00             0             0                0.00
2018-09-08 14:00:00+03:00             0             0                0.00
2018-09-08 15:00:00+03:00             0             0                0.00
2018-09-08 16:00:00+03:00             0             0                0.00
2018-09-08 17:00:00+03:00             0             0                0.00
2018-09-08 18:00:00+03:00             0             0                0.00
2018-09-08 19:00:00+03:00             0             0                0.00
2018-09-08 20:00:00+03:00             0             0                0.00
2018-09-08 21:00:00+03:00             0             0                0.00
2018-09-08 22:00:00+03:00             0             0                0.00
2018-09-08 23:00:00+03:00             0             0                0.00
2018-09-09 00:00:00+03:00             0             0                0.00
2018-09-09 01:00:00+03:00             0             0                0.00
2018-09-09 02:00:00+03:00         12778             2                0.50
2018-09-09 03:00:00+03:00         14856             3                0.75
2018-09-09 04:00:00+03:00             0             0                0.00
2018-09-09 05:00:00+03:00             0             0                0.00
2018-09-09 06:00:00+03:00            22             0                0.00
2018-09-09 07:00:00+03:00             1             0                0.00
2018-09-09 08:00:00+03:00             0             0                0.00
2018-09-09 09:00:00+03:00             7             0                0.00
...                                 ...           ...                 ...
2018-09-19 21:00:00+03:00             0             0                0.00
2018-09-19 22:00:00+03:00             0             0                0.00
2018-09-19 23:00:00+03:00             0             0                0.00
2018-09-20 00:00:00+03:00             0             0                0.00
2018-09-20 01:00:00+03:00             0             0                0.00
2018-09-20 02:00:00+03:00             0             0                0.00
2018-09-20 03:00:00+03:00             0             0                0.00
2018-09-20 04:00:00+03:00             0             0                0.00
2018-09-20 05:00:00+03:00             0             0                0.00
2018-09-20 06:00:00+03:00             0             0                0.00
2018-09-20 07:00:00+03:00             0             0                0.00
2018-09-20 08:00:00+03:00             0             0                0.00
2018-09-20 09:00:00+03:00             0             0                0.00
2018-09-20 10:00:00+03:00             0             0                0.00
2018-09-20 11:00:00+03:00             0             0                0.00
2018-09-20 12:00:00+03:00             0             0                0.00
2018-09-20 13:00:00+03:00             0             0                0.00
2018-09-20 14:00:00+03:00             0             0                0.00
2018-09-20 15:00:00+03:00             0             0                0.00
2018-09-20 16:00:00+03:00             0             0                0.00
2018-09-20 17:00:00+03:00             0             0                0.00
2018-09-20 18:00:00+03:00             0             0                0.00
2018-09-20 19:00:00+03:00             0             0                0.00
2018-09-20 20:00:00+03:00             0             0                0.00
2018-09-20 21:00:00+03:00             0             0                0.00
2018-09-20 22:00:00+03:00             0             0                0.00
2018-09-20 23:00:00+03:00             0             0                0.00
2018-09-21 00:00:00+03:00             0             0                0.00
2018-09-21 01:00:00+03:00             0             0                0.00
2018-09-21 02:00:00+03:00             0             0                0.00

[311 rows x 3 columns]